.rdtPicker {
    padding: 1rem !important;
    border-width: 1px !important;
    min-width: 275px !important;
    max-width: 300px !important;
    border-radius: var(--radius);
    background-color: var(--popover);

    .rdtSwitch {
        font-weight: 600;
        font-size: 0.85rem !important;

        &:hover {
            background-color: var(--accent) !important;
            color: var(--accent-foreground) !important;
        }
    }

    .rdtYear,
    .rdtMonth {
        font-weight: 400;
        font-size: 0.8125rem !important;
        padding: 0px !important;
        border-radius: 0.25rem !important;

        &:hover {
            background-color: var(--accent) !important;
            color: var(--accent-foreground) !important;
        }
    }

    .rdtActive {
        background-color: var(--primary) !important;
        color: var(--primary-foreground) !important;

        &:hover,
        &:focus {
            background-color: var(--primary) !important;
            color: var(--primary-foreground) !important;
        }
    }

    .rdtDisabled {
        color: var(--muted-foreground) !important;
        opacity: 0.5;
    }
}